################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/bin/
*/obj/
/packages
/ContentManagementSystem/Uploads/
.vs/
