@model ContentManagementSystem.Framework.Models.Page.BlogList

@{
    HideSocialButtons = true;
}

<div class="b-grid blog-list">
    @for ( int i = 0 ; i < Model.BlogPosts.Count ; i++ )
    {
        <div class="b-width-1-1">
            <div class="blog-post">
                <h2>
                    @Model.BlogPosts[ i ].Title
                    <span></span>
                </h2>
                <div class="blog-content">
                    @Html.Raw( Model.BlogPosts[ i ].Content )
                </div>
                <div class="blog-footer clear-fix">
                    <span class="float-right">
                        Published <span class="blog-published-datetime">@Model.BlogPosts[ i ].UTCDateUpdated.ToLocalTime().ToString( "dd/MM/yyyy hh:mmtt" )</span> by <span class="blog-published-by">@Model.BlogPosts[ i ].LastEditedByUser.UserName</span>
                    </span>
                </div>
            </div>
        </div>
    }
</div>