@model ContentManagementSystem.Admin.Models.NavigationListModel
@{
    PageTitle = "Navigation Items";
}

<table>
    <thead>
        <tr>
            <th>Navigation Title</th>
            <th class="text-right options-column">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var navItem in Model.NavItems )
        {
            <tr>
                <td>
                    @navItem.Title
                </td>
                <td class="text-right options-column">
                    <a href="/admin/navigation/edit/@navItem.DomainNavigationItemId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
        </tr>
    </tfoot>
</table>

<a href="/admin/navigation/create" class="button primary">Add Nav Item</a>