@import (reference) "_variables.less";

.admin .main-content
{
    padding: 20px;
    text-align: center;

    &.has-tools
    {
        margin-right: 300px;
    }

    & > .counter-padding
    {
        margin: -20px;
    }

    &.full-screen
    {
        padding: 0;

        & > .page-content-wrapper
        {
            padding: 0;
            width: 100%;
        }
    }
}

.admin .page-content
{
    background: white;
}

.admin .content-type + .ui-selectmenu-button
{
    position: absolute;
    right: 0;
    top: 0;
}

.admin .page-content-wrapper
{
    background: white;
    margin-bottom: 2 * @admin-panel-padding;
    padding-top: @admin-panel-padding + 20px;
    width: 800px;
}

.admin .page-content-tools
{
    background: #f5f5f5;
    bottom: 0;
    position: fixed;
    right: 0;
    top: 64px;
    width: 300px;
}

.admin .tools-background
{
    background: #f5f5f5;
    margin-top: @admin-panel-padding;
    padding: @admin-panel-padding;
}

.admin .page-content-wrapper,
.admin .page-content-tools
{
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    padding: @admin-panel-padding;
    text-align: left;
}

.b-grid > .editable
{
    position: relative;

    .open-editable-content
    {
        height: 100%;
    }
}

#uploadImages
{
    & > li
    {
        margin: 0 10px 10px 0;
        max-width: 150px;
        position: relative;

        img
        {
            width: 100%;
        }
    }
}

.admin
{
    h2
    {
        border-bottom: 3px solid @admin-panel-header-color;
        font-size: 1.8em;
        margin-bottom: 20px;
        padding: @admin-panel-padding;

        .button
        {
            vertical-align: text-bottom;
        }
    }

    h3
    {

    }
}