.admin .main-content
{
    padding: 20px;

    & > .counter-padding
    {
        margin: -20px;
    }
}

.admin .page-content
{
    background: white;
}

#uploadImages
{
    & > li
    {
        margin: 0 10px 10px 0;
        max-width: 150px;
        position: relative;

        img
        {
            width: 100%;
        }
    }
}