@model ContentManagementSystem.Framework.Models.Page.Contact

<div class="b-grid">
    <div class="b-width-1-1">
        @Html.DisplayFor( m => m.ContactSection )
    </div>
</div>

<script>
    $( function ()
    {
        @Html.RenderSectionInitialisers()
    } );
</script>