@model ContentManagementSystem.Framework.Models.Page.TileGallery

<div class="gallery-tiles">
    @for ( int i = 0; i < Model.Items.Count; i++ )
    {
        <div class="gallery-tile">
            <a href="javascript:void(0);">
                <div class="gallery-tile-image" style="background-image: url('@Model.Items[ i ].ImageUrl');"></div>
                <div class="gallery-tile-text">
                    <div class="gallery-tile-title">
                        @Model.Items[ i ].Title
                    </div>
                    <div class="gallery-tile-details">
                        <ul>
                            @for ( int j = 0 ; j < Model.Items[ i ].Notes.Count ; j++ )
                            {
                            <li>@Model.Items[ i ].Notes[ j ]</li>
                            }
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
