@model ContentManagementSystem.Framework.Models.Page.TiledSubNavigation

@{
    bool isFirst = true;
}

<div class="tiled-sub-navigation-container" style="margin-top: 10%;">
    @foreach ( var navItem in Model.SubNavigationItems )
    {
        <div class="tiled-sub-navigation">
            <a href="@Url.Action( "Index", "Page", new { Area = "Home", pageId = navItem.PageId } )">
                <div class="background-image">
                    <div></div>
                </div>
                <div class="tile-text">
                    <span>
                        @navItem.Title
                    </span>
                </div>
            </a>
        </div>
        isFirst = false;
    }
</div>

@*<script>
        $( function ()
        {
            @Html.RenderSectionInitialisers()
        } );
    </script>*@