@using ContentManagementSystem.Helpers;
@model ContentManagementSystem.Admin.Models.HomePageModel
@{
    PageTitle = "Edit Home Page";
    SelectListGenerator generator = new SelectListGenerator();
}

<h2>@PageTitle</h2>

<div class="counter-padding">
    @using ( Html.BeginForm() )
    {
        <div class="padding-page">
            <div class="button-list text-right">
                @Html.SubmitButton( "Save" )
            </div>
            <dl>
                @Html.DropDownListFieldFor( m => m.HomePageTemplate, generator.HomePageTemplates( Model.HomePageTemplate ) )
            </dl>
        </div>

        <div id="page-template">
            @Html.Partial( Model.HomePageTemplateModel.EditorLocation, Model.HomePageTemplateModel )
        </div>
    }
</div>