@model ContentManagementSystem.Models.Page.IndexModel

@{ 
    PageTitle = Model.Title;
}
<div class="page-content">
    <div class="page-inner-content">
        <div class="b-grid">
            <div class="b-width-1-1">
                @Html.Raw( Model.Data )
            </div>
        </div>
    </div>
</div>