@import "../site.less";

@nav-background: @site-feature-background-color;
@nav-background-flat: @site-feature-color;
@nav-font-color: @site-background-color;
@nav-text-shadow: 1px 1px black;

.ribbon-item .floating
{
    border-radius: 3px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2), inset 0px 0px 10px 6px rgba(255, 255, 255, 0.25);
}