
@site-feature-color: #2859a5;
@site-feature-font-color: #eee;
@site-feature-font-color-faded: lighten( #2859a5, 30% );
@site-feature-background-color: linear-gradient(to right, @site-feature-color 0%, lighten(@site-feature-color, 5%) 100%);
@site-background-color: #eee;//#2859a5;//rgb(193, 255, 249);
@site-background-frame-color: #222;
@site-font-color: #222;
@site-font-color-faded: #ddd;
@site-font-color-light: #fff;
@site-font-color-light-faded: #ddd;
@site-font-color-dark: #000;
@site-font-color-dark-faded: #444;
@site-font-header-color: @site-feature-color;
@site-font-size: 12px;
@site-line-height: 14px;

@site-grid-spacing: 15px;

@title-padding: 10px;

@padding-page: 20px;

@button-primary-background-color: #207ccb;
@button-primary-font-color: #fff;

@button-secondary-background-color: #207ccb;
@button-secondary-font-color: #fff;

@button-tertiary-background-color: #207ccb;
@button-tertiary-font-color: #fff;

@button-cancel-background-color: #bd2626;
@button-cancel-font-color: #fff;

@products-in-stock: #139423;
@products-out-of-stock: #bd2626;


@nav-background: #434343;
@nav-font-color: white;
@nav-font-size: 16px;
@nav-item-hover-background: rgba(255, 255, 255, 0.3);


@paragraph-margin: 10px 0;

@animation-time-hover: 0.2s;
@animation-time-standard: 0.3s;