@model ContentManagementSystem.Admin.Models.NavigationModel
@{
    PageTitle = ( Model.DomainNavigationItemId.HasValue ? "Edit" : "Add" ) + " Navigation Item";
}

<h2>@PageTitle</h2>

@using ( Html.BeginForm( "Edit", "Navigation" ) )
{
    @Html.HiddenFor( m => m.DomainNavigationItemId )
    <dl>
        @Html.TextBoxFieldFor( m => m.Title )
    </dl> 
}