@import (reference) "_shared/_common.less";

.blog-post
{
    //padding: 30px;
}

.blog-list
{
    padding: 0 @padding-page / 2;

    .blog-post
    {
        background: @site-background-color;
        border-radius: 3px;
        box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
        color: @site-font-color;
        padding: @padding-page;

        .blog-header
        {
            padding: 0;
            position: relative;
            z-index: 2;

            h2
            {
                border-bottom: 2px solid @site-feature-color;
            }

            .button.text.edit-blog-post
            {
                color: @site-feature-font-color-faded;
                line-height: 1em;
                position: absolute;
                left: 20px;
                top: 5px;

                &:hover
                {
                    border-bottom-color: @site-feature-font-color-faded;
                }
            }
        }

        .blog-content
        {
            z-index: 1;

            p
            {
                margin: 0 0 15px;

                &.blog-subtitle,
                &:first-child
                {
                    color: @site-feature-color;
                    display: inline-block;
                    font-size: 1.2em;
                    font-style: italic;
                    padding: 0;
                }
            }

            .blog-inner-content
            {
                overflow: hidden;
                padding: 10px 0 0;
                position: relative;

                &:before,
                &:after
                {
                    content: '';
                    border-radius: 50%;
                    bottom: 0;
                    display: block;
                    pointer-events: none;
                    position: absolute;
                    right: 0;
                }

                &:before
                {
                    .size(30%, 30%);
                }

                &:after
                {
                    .size(150px, 150px);
                    background-image: url('/Content/themes/amysticalway/Logo.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    bottom: -50px;
                    opacity: 0.11;
                    right: -20px;
                }
            }

            .jssocials-shares
            {
                margin: 2em 0 0;
            }

            .jssocials-share
            {
                margin: 0;
            }

            .read-more
            {
                margin-top: 15px;
            }
        }

        .blog-publish-info
        {
            color: @site-feature-font-color-faded;
            font-size: 0.8em;
            font-style: italic;
        }
    }
}