@import (reference) "_shared/_common.less";

.carousel
{
    @local-fade-time: 1s;

    left: 50%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    transform: translateX(-50%);

    &:hover
    {
        .carousel-right, .carousel-left
        {
            opacity: 0.4;
        }
    }

    .carousel-inner
    {
        .transition(left 0.3s ease);
        height: 100%;
        position: relative;
        width: 100%;
    }

    .carousel-item
    {
        background: rgb(55,55,55);
        height: 100%;
        width: 100%;
        position: absolute;
        text-align: center;
        top: 0;

        img
        {
            max-height: 100%;
        }

        &.transit
        {
            transition: opacity @local-fade-time ease;
        }
    }

    .carousel-right, .carousel-left
    {
        .border-radius(50%);
        .transform(translateY(-50%));
        .transition(all 0.2s ease);
        background: white;
        cursor: pointer;
        height: 28px;
        opacity: 0.2;
        padding: 5px;
        position: absolute;
        top: 50%;
        width: 28px;

        &:hover
        {
            opacity: 0.6;
        }

        &.hidden
        {
            pointer-events: none;
        }

        & > i
        {
            .transform(translateY(-50%));
            font-size: 28px;
            left: 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 50%;
        }
    }

    .carousel-right
    {
        right: 10px;

        .icon:before
        {
            left: 3px;
            position: relative;
            top: 1px;
        }

        &.hidden
        {
            right: -48px;
        }
    }

    .carousel-left
    {
        left: 10px;

        .icon:before
        {
            left: -2px;
            position: relative;
            top: 1px;
        }

        &.hidden
        {
            left: -48px;
        }
    }

    .banner-option-container
    {
        bottom: 0;
        padding: 15px;
        position: absolute;
        right: 0;
        z-index: 4;

        &:after
        {
            content: "";
            display: table;
            clear: both;
        }

        &:hover
        {
            .banner-option
            {
                opacity: 0.5;

                &:hover
                {
                    opacity: 1;
                }
            }
        }
    }

    .banner-option
    {
        background: @site-feature-font-color-faded;
        border: 2px solid @site-feature-font-color-faded;
        border-radius: 35% 0;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        float: left;
        height: 20px;
        margin-left: 4px;
        opacity: 0.3;
        position: relative;
        transition: background @local-fade-time ease, border @local-fade-time ease, opacity 0.2s ease;
        width: 20px;

        &.current
        {
            background: white;
            border-color: white;
        }
    }
}
