@import (reference) "_shared/_common.less";

.jssocials-shares
{
    color: white;
}

@media only screen and (min-width: 768px)
{
    .page-content-wrapper > .page-content
    {
        position: relative;

        & > #social
        {
            & + .page-content
            {
                display: block;
                margin-right: 120px;
                width: auto;
            }

            //background: rgba( 255, 255, 255, 0.2 );
            margin-top: 10px;
            padding: 5px;
            
            .box-sizing();
            .transition(top 0.4s ease);
            .transition-delay(0.6s);

            .jssocials-shares
            {
                display: inline-block;
                width: 100px;
            }

            .jssocials-share
            {
                display: block;

                &:first-child
                {
                    margin-left: 0.3em;
                }

                &:last-child
                {
                    margin-right: 0.3em;
                }
            }

            .jssocials-share-link
            {
                display: block;
            }
        }
    }
}