@model ContentManagementSystem.Admin.Models.ProductCategoriesListModel

@{
    PageTitle = "Product Categories";
}

<table>
    <thead>
        <tr>
            <th class="text-left">Category</th>
            <th class="text-right options-column">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var productCategory in Model.ProductCategories )
        {
            <tr>
                <td class="text-left">
                    @productCategory.Name
                </td>
                <td class="text-right options-column">
                    <a href="@Url.Action( "Edit", "ProductCategory", new { Area = "Admin", id = productCategory.ProductCategoryId } )" class="table-button">Edit</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5"></td>
        </tr>
    </tfoot>
</table>

<a href="@Url.Action( "Create", "ProductCategory", new { Area = "Admin" } )" class="button primary">Add Product Category</a>